<div class="container mx-auto px-10 h-screen py-10 bg-sky-600 grid grid-rows-6">
  <div class="container rounded-lg mx-auto flex justify-center">
    <h1 class="font-mono text-5xl">Generate your Vaarn wanderer...</h1>
  </div>
  <.live_component module={AbilityScores} id="ability_scores" character={@character} />
</div>
